
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



body{
    font-family: 'Josefin Sans', sans-serif;
    
    background-color: #E7D9EA;
    
    
}

header{
    display: flex;
    height: fit-content;
   z-index: 10;
   position :  sticky;
   top: 0;
    align-items: center;
    justify-content: space-between;
  background: #FFE2FF;
    height : 95px;
}
.logo
{
    height : 150px;
    object-fit: contain;
   
   
}
.menu-icon{
    position: absolute;
    right: 8%;
    top: 30%;
    visibility: hidden;
}

.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

  
}
.nav-menu{
   
    display: flex;
    align-items: center;
    gap : 20px;
    margin : auto;
    
}
.nav-item{
    color: #00005C;
    padding: 10px;
    cursor: pointer;
   
    
}

.nav-item:active{
    color:cadetblue;
}

.nav-item:hover{
    transform: translate(2);
    border-bottom: 3px solid #00005C;
}


.page-hero{
    width: 100%;
    height: 400px;
    background-image :url('./images/soapbg.jpg');
    background-repeat : no-repeat;
    background-position : center;
    background-size: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
   
    border-radius: 0 0 20px 20px ;
    -webkit-border-radius: 0 0 20px 20px ;
    -moz-border-radius: 0 0 20px 20px ;
    -ms-border-radius: 0 0 20px 20px ;
    -o-border-radius: 0 0 20px 20px ;
}
.page-hero-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding : 20px;
    width : 80%;
    height : 100%;
    margin: 0 auto;
    

}
.title{
    
   
    color: #00005C;
    font-size: 6rem;
    font-family: cursive;
    font-weight: 700;
}
.tag-line{
    font-size: 35px;
    text-align: center;
    color: #FFE2FF;
}


.float-left{
    width: 35vw;
    height: auto;
    text-align: center;
    position: relative;
}

.text-lorem{
    margin-right: 60px;
    font-size: 20px;
    
}

.image-display{
    width: 90%;
    height: auto;
    margin: 60px auto;
    background-color: #F4EEFF;
    
    padding: 25px;
    border-radius: 15px;

}

.image{
    height: 300px;
    border-radius: 10px;
}

.image1{
    background-image: url(./images/soaps.jpg);
    background-size: cover;
    background-position: center;
}

.image2{
    background-image: url(./images/ssoapss.jpg);
    background-size: cover;
    background-position: center;
}

.image3{
    background-image: url(./images/soapbg.jpg);
    background-size: cover;
    background-position: center;
}

.display{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
}

.products{
    height: 400px;
    display: flex;
    align-items: center;
    gap: 10%;
   margin : 50px auto;
    background-image: url(./images/prep.jpg);
    background-size: cover;
    background-position: right;
    background-size:100% ;
   
    border-radius: 10px;
}

.product-text{
    font-size: 2rem;
    height: 100%;
    background: linear-gradient(to right, rgb(0, 0, 92) 55%, 90%, transparent);
    color: white; 
    padding: 15px;
    font-family: 'Akaya Kanadaka', cursive;
}


.footer{
    bottom :0;
    display: flex;
    align-items: center;
    justify-content:  center;
    gap: 30px;
    flex-direction: column;
    background : rgb(27, 27, 27);
    color: white;
    padding : 10px;
    width: 100%;
    height: 200px;
   
}
.footer > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* responsiveness */

@media screen and (max-width : 1024px){
    .logo{
        height : 110px;
    }
    .nav-menu {
        display: flex;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 70px;
        right: 45%;
        opacity: 0;
        padding: 60px 0;

        transition: all 0.5s ease;
        flex-direction: column;
        list-style-type: none;

    }
    .nav-item{
        color: white;
    }
    .nav-menu.nav__active {
        background: #071013;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        align-content: center;
        color: white;

    }
    .menu-icon{
        visibility:  visible;
        font-size: 30px;
        
    }
  
    .page-hero-content{
        width : 100%;
    }
    .title{
     
        font-size:35px;
        width: 100%;
        text-align:  center;
    }
    .tag-line{
        font-size: 20px;
       
    }

    .image-display {
        width: 100%;

    }
    .display {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap : 10px;
    }
    .products{
        width: 100%;
    }
    .product-text{
        font-size: 1rem;
    }

}

